
    /* .background-image{
        background-image:url('/static/image/a.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        width: 200px;
        height:100vh;

    } */

    